@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green:#14B8A6;
    --red:#EC4C47;
    --blue:#1070CA;
    --yellow:#FFB020;
    --dark:#111827;
    --greenlight:#10B981;
    --grey:#E4E7EB;
    --bluewhite: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  
  --orange: #fb6340;
  --yellow1: #ffd600;
  --greenl: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #e14eca;
  --secondary: #f4f5f7;
  --success: #00f2c3;
  --info: #1d8cf8;
  --warning: #ff8d72;
  --danger: #fd5d93;
  --light: #adb5bd;
  --dark: #212529;
  --default: #344675;
  --white: #ffffff;
  --neutral: #ffffff;
  --darker: black;
}


.form_main {
    width: 520px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 1px black;
  }
  
  .form_main::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    transform: rotate(45deg);
    left: -220px;
    bottom: 30px;
    
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
  }
  
  .heading {
    font-size: 3em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 90px 0 20px 0;
    z-index: 2;
  }
  
  .inputContainer {
    width: 100%;
    font-size: 20px;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .inputIcon {
    position: absolute;
    left: 6px;
    top: 16px;
    color: #fff;
  }
  
  .inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 2px solid ;
  }
  
  .inputField::placeholder {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 500;
  }
  
  #button {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: rgb(89, 111, 231);
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
  }
  
  #button:hover {
    background-color: rgb(126, 84, 255);
  }
  
  .forgotLink {
    z-index: 2;
    font-size: .9em;
    font-weight: 500;
    color: rgb(44, 24, 128);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 600px){
    .form_main{
      width: 350px;
      
      margin-left: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form_main::before{
      height: 700px;
      width: 300px;
    }
    .inputField::placeholder {
      color: rgb(0, 0, 0);
      font-size: .8em;
      font-weight: 500;
    }
  }