.rec{
    margin-top: 0px;
}

.homeRec{
    margin-left: 50px;
}

.Content{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-left: -65px;
}
.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    
  }