.cardcontent{
    display:flex;
    
    
}
.cardrec {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 250px;
    height: 350px;
    background: rgba(255, 255, 255, 0.521);
    backdrop-filter: blur(50px);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    margin: 9px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .cardrec:last-child {
    justify-content: flex-end;
  }
  
  .cardrec-img {
      /* clear and add new css */
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    width: 190px;
    height: 90px;
  }
  
 
  .cardrec-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
  }
  
  .cardrec-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
    max-width: 200px;
    height: 120px;
    max-height: 120px;
    overflow: auto;
  }
  
  .cardrec-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    
    
  }
  
  .cardrec-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .cardrec-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
  
  .cardrec-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
  }
  
  .cardrec-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
  }
  
  .cardrec-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
  }
  
  .cardrec-img:hover {
    transform: translateY(-3px);
  }
  
  .cardrec-btn:hover {
    border: 2px solid var(--main-focus);
  }
  
  .cardrec-btn:hover svg {
    fill: var(--main-focus);
  }
  
  .cardrec-btn:active {
    transform: translateY(3px);
  }
 .cardrec-subtitle::-webkit-scrollbar{
    width: 5px;
    background-color: #323232;
    border-radius: 20px;
 }

 .cardrec-subtitle::-webkit-scrollbar:hover{
    cursor: pointer;
 }

 @media only screen and (max-width: 600px) {
    .cardcontent {
      margin-top: 1300px;
      display: block;
      margin-left: 40px;
      color: #323232;
    }
    .cardrec{
      width: 300px;
      display: flex;
      align-items: center;

    }
  }