@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a{
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 800;
  text-decoration: none;
  color: #111827;
}
a:hover{
  color: #10B981;
  cursor: pointer;
}
#logoside{
  margin-left: 90px;
}
