@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green:#14B8A6;
    --red:#EC4C47;
    --blue:#1070CA;
    --yellow:#FFB020;
    --dark:#111827;
    --greenlight:#10B981;
    --grey:#E4E7EB;
    --bluewhite: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  
  --orange: #fb6340;
  --yellow1: #ffd600;
  --greenl: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #e14eca;
  --secondary: #f4f5f7;
  --success: #00f2c3;
  --info: #1d8cf8;
  --warning: #ff8d72;
  --danger: #fd5d93;
  --light: #adb5bd;
  --dark: #212529;
  --default: #344675;
  --white: #ffffff;
  --neutral: #ffffff;
  --darker: black;
}
body{
    overflow-x: hidden;
    
}
.home{
  /* background: linear-gradient(90deg, rgba(10,14,22,1) 0%, rgba(52,70,117,1) 92%); */
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.top{
    display: flex;
    justify-content: center;
     /* background: linear-gradient(90deg, rgba(17,24,39,1) 0%, rgba(16,112,202,1) 96%);  */
    height: 70vh;
    margin-bottom: 50px;
    
}
.midle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -290px;
}
.buttom{
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 290px;
    
}









.react-confirm-alert-body{
  background-color: #32325da6;
  color: white;
  backdrop-filter: blur(50px);
}

body::-webkit-scrollbar {
    width: 0.4em;
    border-radius: 50%;
  }
  body::-webkit-scrollbar:hover{
    cursor: pointer;
  }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #10B981;
    outline: 1px solid slategrey;
  }

  @media only screen and (max-width: 600px) {
    .home{
      width: 100%;
      
      display: flex;
      flex-direction: column;
    }
    
    .top{
      width: 100px;
      margin-top: 40px;
      margin-left: 120px;
    }
    .midle{
      display: block;
      margin-top: 900px;
      
    }
    .buttom{
      display: block;
      width: 400px;
    }
    
  }