@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green:#14B8A6;
    --red:#EC4C47;
    --blue:#1070CA;
    --yellow:#FFB020;
    --dark:#111827;
    --greenlight:#10B981;
    --grey:#E4E7EB;
    --bluewhite: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  
  --orange: #fb6340;
  --yellow1: #ffd600;
  --greenl: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #e14eca;
  --secondary: #f4f5f7;
  --success: #00f2c3;
  --info: #1d8cf8;
  --warning: #ff8d72;
  --danger: #fd5d93;
  --light: #adb5bd;
  --dark: #212529;
  --default: #344675;
  --white: #ffffff;
  --neutral: #ffffff;
  --darker: black;
}
.homeuser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    /* background: linear-gradient(90deg, rgba(10,14,22,1) 0%, rgba(52,70,117,1) 92%); */
    font-family: 'Poppins';
    text-align: center;
}
.topuser{
    margin-top: 180px;
    margin-bottom: 20px;
}
.headeruser{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-top: 130px;
    
}
.midleuser{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    margin-bottom: 50px;
    text-align: center;
}
.homecontaineruser{
  margin-top: 120px;
}
.Contentuser{
  height: 100vh;
  margin-top: 120px;
}

.midleuser h1{
    color: #000000;
    text-align: center;
}
.footeruser{
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
    width: 1500px;
}
.btns{
  display: flex;
  color: #000000;
}
.btnuser {
  border-radius: 6px;
  display: flex;
  border: none;
  color: #000000;
  text-align: center;
  
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.btnuser{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.9s;
  font-size: 62px;
  font-family: 'Poppins';
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.btnuser:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: -21px;
  right: -0px;
  color: #000000;
  transition: 0.9s;
  font-size: 50px;
}
.btnuser span{
  position: relative;
  top: -60px;
  font-size: 12px;
}
.btnuser:hover{
  padding-right: 14px;
  padding-left:8px;
  color: #000000;
}

.btnuser:hover:after {
  opacity: 6;
  right: 19px;
}
.user{
    /* background-color: rgba(255, 255, 255, 0.774);
    backdrop-filter: blur(5px); */
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    
}
.user h1{
    margin-bottom: 50px;
    margin-top: 40px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 50px;
    
    
}
@-webkit-keyframes mask-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(229px);
    }
  }
  @keyframes mask-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(619px);
    }
  }
  @-webkit-keyframes mask-inner-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-619px);
    }
  }
  @keyframes mask-inner-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-609px);
    }
  }
 
  
 
  
 
  
  .focus {
    font-size: 5rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 0.2rem;
    line-height: 1;
    position: relative;
    left: -140px;
    width: 399px;
  }
  .focus:before {
    content: "Reclamations";
    filter: blur(4px);
  }
  .focus:after {
    content: "";
    position: absolute;
    width: 70px;
    height: calc(100% + 8px);
    top: -4px;
    left: 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    -webkit-animation: mask-move 3s linear infinite alternate;
            animation: mask-move 3s linear infinite alternate;
  }
  .focus--mask {
    overflow: hidden;
    position: absolute;
    width: 70px;
    height: 100%;
    top: 0;
    left: 0;
    background: #14B8A6;
    -webkit-animation: mask-move 3s linear infinite alternate;
            animation: mask-move 3s linear infinite alternate;
  }
  .focus--mask-inner {
    -webkit-animation: mask-inner-move 3s linear infinite alternate;
            animation: mask-inner-move 3s linear infinite alternate;
  }
  
.homeContent{
    background-color: #ffffff;
    
    display: flex;
    justify-content: center;
    
}



.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 190px;
  overflow: hidden;
  font-family: "Poppins";
  font-size: 42px;
  line-height: 60px;
  color: #000000;
}
.content__container {
  font-weight: 500;
  overflow: hidden;
  height: 50px;
  padding: 0px 70px;
  
}
.content__container:before {
  content: "[";
  left: 0px;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 10px;
  color: #16a085;
  font-size: 50px;
  line-height: 39px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  
  margin-left: -40px;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  margin-left: 80px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 60px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@media only screen and (max-width: 600px) {
  .homeuser {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
  }
  .topuser{
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
  }
  .midleuser{
    display: block;
  }
  .headeruser{
    width: 100%;
    display: block; 
    margin-left: 30px;
  }
  .footeruser{
    width: 300px;
  }
 
  .content{
    margin-left: 30px;
    font-size: 16px;
    line-height: 30px;
    margin-top: 40px;
  }
  .btns{
    display: block;
    margin-left: 180px;
  }
  .content__container {
    font-weight: 500;
    overflow: hidden;
    height: 40px;
    padding: 0px 90px;
    
  }
  
  .content__container:after, .content__container:before {
    position: absolute;
    top: 14px;
    color: #16a085;
    font-size: 30px;
    line-height: 9px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2.9s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    
    margin-left: -20px;
  }
  .content__container__list {
    
    width: 100%;
    margin-top: 0;
    padding-left: 1px;
    margin-left: 80px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 32px;
    margin: 0;
  }
  
  .focus {
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1rem;
    line-height: 1;
    position: relative;
    left: 85px;
    width: 299px;
    margin-top: 20px;
  }
  .focus:before {
    content: "Reclamations";
    filter: blur(4px);
  }
  .focus:after {
    content: "";
    position: absolute;
    width: 30px;
    height: calc(100% + 9px);
    top: -4px;
    left: 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    -webkit-animation: mask-move 3s linear infinite alternate;
            animation: mask-move 3s linear infinite alternate;
  }
  .focus--mask {
    overflow: hidden;
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    left: 0;
    background: #14B8A6;
    -webkit-animation: mask-move 3s linear infinite alternate;
            animation: mask-move 3s linear infinite alternate;
  }
  .focus--mask-inner {
    -webkit-animation: mask-inner-move 3s linear infinite alternate;
            animation: mask-inner-move 3s linear infinite alternate;
  }
  @-webkit-keyframes mask-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(129px);
    }
  }
  @keyframes mask-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(259px);
    }
  }
  @-webkit-keyframes mask-inner-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-119px);
    }
  }
  @keyframes mask-inner-move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-249px);
    }
  }
 
  .MuiStack-root {
    width: 350px;
  }
  .cardcontent{
    width: 350px;
  }
h2{
  position: relative;
  left: 80px;
  font-size: 29px;
}
.soustitre{
  margin-top: 20px;
  position: relative;
  left: 80px;
  

}

}