:root{
    --green:#14B8A6;
    --red:#EC4C47;
    --blue:#1070CA;
    --yellow:#FFB020;
    --dark:#111827;
    --greenlight:#10B981;
    --grey:#E4E7EB;
    --bluewhite: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  
  --orange: #fb6340;
  --yellow1: #ffd600;
  --greenl: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #e14eca;
  --secondary: #f4f5f7;
  --success: #00f2c3;
  --info: #1d8cf8;
  --warning: #ff8d72;
  --danger: #fd5d93;
  --light: #adb5bd;
  --dark: #212529;
  --default: #344675;
  --white: #ffffff;
  --neutral: #ffffff;
  --darker: black;
  }
.chart{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 500px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur(50px);
    margin-left: 8px;
    box-shadow: 4px 4px 1px black;
    border: 1px solid black;
}
.infos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    color: #494949;
    height: 150px;
    width: 390px;
}
label{
    color: #000000;
}
.droit{
    margin-right: 80px;
    display: block;
    text-align: center;
}
.status{
    font-size: 12px;
    font-weight: 600;
    color: #525252;
    margin-bottom: 4px;
}
.result1{
    color: #1070CA;
    font-size: 32px;
}
.result2{
    color: #FFB020;
    font-size: 32px;
}

@media only screen and (max-width: 600px) {
    .chart{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      width: 300px;
      margin-left: 40px;
      margin-top: 20px;
      height: max-content;
      
    }
    .infos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 4px;
        font-weight: 300;
        margin-right: 50px;
        width: 220px;
        
    }
    hr{
        display: none;
    }
    
  }