@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --green:#14B8A6;
  --red:#EC4C47;
  --blue:#1070CA;
  --yellow:#FFB020;
  --dark:#111827;
  --greenlight:#10B981;
  --grey:#E4E7EB;
  --bluewhite: #5e72e4;
--indigo: #5603ad;
--purple: #8965e0;
--pink: #f3a4b5;

--orange: #fb6340;
--yellow1: #ffd600;
--greenl: #2dce89;
--teal: #11cdef;
--cyan: #2bffc6;
--white: #ffffff;
--gray: #6c757d;
--gray-dark: #32325d;
--light: #ced4da;
--lighter: #e9ecef;
--primary: #e14eca;
--secondary: #f4f5f7;
--success: #00f2c3;
--info: #1d8cf8;
--warning: #ff8d72;
--danger: #fd5d93;
--light: #adb5bd;
--dark: #212529;
--default: #344675;
--white: #ffffff;
--neutral: #ffffff;
--darker: black;
}
*{
  font-family: "Poppins";
  font-weight: 900;
}
.cards{
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  
}
.cardtop{
  display: flex;
  
}
.cardbuttom{
  display: flex;
}
.card{
  
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(2px);
  margin-left: 8px;
  width: 369px;
  height: 160px;
  border-radius: 5px;
  box-shadow: 4px 4px 1px #212529;
  text-align: end;
  transition: 0.2s;
  border: 1px solid;
}
.card:hover{
  cursor: pointer;
  transform: scale(1.01);
}
.icons{
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  left: 30px;
  top: -60px;
  background-color: #14B8A6;
  border-radius: 5px;
  width: 120px;
  height: 120px;
  box-shadow: 1px 1px 9px #212529;
}
.icon2{
  background-color: #ffd600;
}
.icon3{
  background-color: #1070CA;
}
.icon4{
  background-color: #EC4C47;
}

.card-content{
  position: relative;
  top: -90px;
  font-size: 29px;
  color: #000000;
  padding-right: 19px;
}
p{
  position: relative;
  top: -55px;
  right: -10px;
  text-align: start;
  color: #000000;
  
}
@media only screen and (max-width: 600px) {
  .cards{
    display: block;
    
    
  }
  .card{
    margin-top: 90px;
    width: 300px;
    margin-left: 40px;
  }
  .icons{
    width: 100px;
    height: 100px;
    font-size: 12px;
  }
  .cardtop {
    display: block;
  }
  .cardbuttom{
    display: block;
  }
  .userdata{
    width:400px;
    margin-top: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .usersdata{
    margin-left: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}


/* Card Users Admin */
.usersdata{
  display: flex;
}
.cardusr {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 250px;
  height: 350px;
  background: rgba(255, 255, 255, 0.521);
  backdrop-filter: blur(50px);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  margin: 9px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardusr:last-child {
  justify-content: flex-end;
}

.cardusr-img {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  width: 190px;
  height: 90px;
}


.cardusr-title {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.cardusr-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
  max-width: 200px;
  height: 120px;
  max-height: 120px;
  
}

.cardusr-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
  
  
}

.cardusr-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.cardusr-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.cardusr-price span {
  font-size: 13px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.cardusr-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.cardusr-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.cardusr-img:hover {
  transform: translateY(-3px);
}

.cardusr-btn:hover {
  border: 2px solid var(--main-focus);
}

.cardusr-btn:hover svg {
  fill: var(--main-focus);
}

.cardusr-btn:active {
  transform: translateY(3px);
}




