tr{
    color: aqua;
}
table{
    background-color: rgb(50, 50, 93);
    backdrop-filter: blur(5px);
}
.homeContent{
    height: 100vh;
    width: 100vw;
    
}
textarea{
    margin-left: 25px;
    background-color: #adb5bd;
    border-radius: 10px;
    width: 50%;
    border: none;
    outline: none;
}
#ville{
    font-family: 'Poppins';
    font-weight: 500;
    background-color: #adb5bd;
    border-radius: 10px;
    outline: none;
    border: none;
    
}
#ville-label{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    
}
.react-confirm-alert-body{
    background-color: #32325dd0;
    color: white;
    backdrop-filter: blur(10px);
    transition: 0.9s;
}
@media only screen and (max-width: 600px){
    .homeContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .MuiBox-root {
        width: 100%;
        margin-left: 20px;
    }
    center{
        width: 500px;
    }
}