:root{
    --green:#14B8A6;
    --red:#EC4C47;
    --blue:#1070CA;
    --yellow:#FFB020;
    --dark:#111827;
    --greenlight:#10B981;
    --grey:#E4E7EB;
    --bluewhite: #5e72e4;
  --indigo: #5603ad;
  --purple: #8965e0;
  --pink: #f3a4b5;
  
  --orange: #fb6340;
  --yellow1: #ffd600;
  --greenl: #2dce89;
  --teal: #11cdef;
  --cyan: #2bffc6;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #32325d;
  --light: #ced4da;
  --lighter: #e9ecef;
  --primary: #e14eca;
  --secondary: #f4f5f7;
  --success: #00f2c3;
  --info: #1d8cf8;
  --warning: #ff8d72;
  --danger: #fd5d93;
  --light: #adb5bd;
  --dark: #212529;
  --default: #344675;
  --white: #ffffff;
  --neutral: #ffffff;
  --darker: black;
}

body{
    background-color: #111827;
}